<h1>Posts page</h1>

<div class="new-post-button">
  <%= link_to new_post_path do %>
    Create new post
  <% end %>
</div>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      
      </div>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td>
      <div class="post-pubished-time"><%= post.created_at.strftime("%d-%m-%Y")%> at <%= post.created_at.strftime("%I:%M %p")%></div>
      </td>
<!-- the link_to method here being a rails method doing the namesake.. the view page is maybe a larger version? tbc -->
      <td><%= link_to 'View', post_path(post) %></td>
<!-- would like to make the edit pat accessible only to the owner... will need sessions to be available first -->
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
    </tr>
  <% end %>
</table>


